<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Cancel Session</title>
</head>
<body>
    <h1>Cancel Session</h1>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
    <form action="/sports/cancel-session/<%= sessionId %>" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="py-3">
                    <label for="reason">What is the reason for canceling this session?</label>
                <input type="text" name="reason" class="border border-gray-300 text-gray-900 rounded p-2 w-full" required>
                </div>
                <div class="py-3">
                <button type="submit" class="text-white bg-red-600 hover:bg-red-800 font-medium rounded px-5 py-2">Cancel</button>
                </div>
    </form>
    </div>
    </div>
</body>
</html>