*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
.title {
    font-family:sans-serif;
    font-weight: bold;
    color: rgb(65, 65, 65);
    font-size: larger;
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
}
.container{
    margin-top: 20px;
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    background-position: center;
    position: relative;
}

.form-box{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: transparent;
    display: inline-block;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    padding: 50px 50px 50px 30px;
    
}



.input-field{
    background: #ececec;
    margin: 15px 0;
    border-radius: 3px;
    flex-direction: row;
    margin-left: 20px;
    font-family:sans-serif;
    font-size: medium;
    padding: 5px;
    width:max-content;
    justify-content: right;
}

.checkbox-field{
    background: #ececec;
    margin-top: 15px;
    border-radius: 3px;
    flex-direction: row;
    margin-left: 20px;
    font-family:sans-serif;
    font-size: medium;
}


input{
    /*width: 100%; */
    background: transparent;
    border: 0;
    outline: 0;
}



.inputbox{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

label{
    font-size: medium;
    font-weight:500;
    color: rgb(53, 53, 53);
    display: inline-block;
    width: 100px;
    text-align: left;
}


#user-form{
    display: flex;
  flex-direction: column;
  align-items: flex-start;
}

::placeholder{
    color: black;
    font-size:small;
}

#button{
    background-color:rgb(64, 132, 136);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size:small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:500px;
    border: 0;
    width: 100px;
}

.input-btn{
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.table-box{
    background-color: white;
    border-radius: 10px;
    box-shadow: -10px 10px 40px rgba(0,0,0,0.2);
    margin-bottom: 10px;
    padding: 30px;
}

.input-ff{
    background-color: white;
    border-radius: 10px;
    box-shadow: -10px 5px 40px rgba(0,0,0,0.2);
    width: 60%;
    margin: 0 auto;
    padding: 30px;
    margin-bottom: 30px;
}

#table-ele{
    background-color: transparent;
    width:100%
}
table, th, td {
    border:1px solid black;
  }

th, td {
    padding: 1px;
    justify-content: center;
    text-align: center;
}